body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    color:black;
}

main {
    padding: 0;
}

.inner-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* ヘッダー */
.site-header {
    background-color: #fff;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:darkblue;
    margin: 0;
}

h1 {
    font-size: 1.3rem;
    text-align: center;
    color:darkcyan;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.form-label {
    width: 180px;
    font-weight: bold;
}

.form-inputs {
    display: flex;
    gap: 10px;
}

textarea {
    resize: vertical;
}

.error {
    color: red;
    margin-left: 180px;
    font-size: 0.9em;
}

.form-buttons {
    margin-left: 180px;
    margin-top: 20px;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    background-color:darksalmon;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:darkgoldenrod;
}